.controls {
    margin-top: 15px;
}

body {
    background-color: #FFF;
}

#stream {
    background-color: #a0a0a0;
    border: 5px solid #5c0086;
    margin-top: 50px;
}

h1, h2, h3, h4, h5 {
    color: #5c0086;
}

.gallery-thumb {
    width: 300px;
    background-color: #a0a0a0;
    margin: 15px;
    transition: transform .2s;
}

.gallery-thumb:hover {
    transform: scale(1.02);
}

.gallery {
    margin: 20px;
}

.control-button {
    margin-top: 7px;
}

.custom-range {
    margin-top: 15px;
}
